.App {
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
